.comment {
    display: flex;
}

.commentBox {
    width: 100%;
}

.commentBox footer {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.commentBox footer button {
    background: transparent;
    border: none;
    color: var(--gray-400);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.commentContent {
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--gray-600);
}

.commentContent header button {
    background: transparent;
    border: none;
    color: var(--gray-400);
    cursor: pointer;
}

.commentContent p {
    margin: 1rem 0;
}

.authorAndTime {
    display: flex;
    flex-direction: column;
}

.trash:hover {
    color: rgb(207, 78, 78);
}