.header {
    background-color: var(--gray-800);
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header > img {
    height: 2rem;
}