.post {
    background-color: var(--gray-700);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.content {
    margin-top: 1.5rem;
    color: var(--gray-300);
    line-height: 1.6;
}

.content p {
    margin-top: 1rem;
}
.content a {
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover {
    color: var(--gray-300);
}

.commentForm {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    border-top: 2px solid var(--gray-600);
    gap: 1rem;
}

.commentForm strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6;
}

.commentForm textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: 1px solid var(--green-500);
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
}

.commentForm footer button {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--green-500);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.commentForm footer button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.commentList {
    margin-top: 2rem;
}